*{
	margin:0;
	padding:0;
}

      #hd-01-01{
       margin: 0 auto 0 auto;
       padding:;
       width:1080px;
       height:32px;
       background:#000000;
     
      }
           #hd-01-01 table{
        	   margin:;
        	   padding: ;
           }
           #hd-01-01 a{
           	margin:;
           	padding:;
           	color:#FFFFFF;
           	font-family:;
           	font-size:;
           	text-decoration:;
           }
        .fire {
          padding: ;
          width:400px;

        }
         